- name: Allow traffic from specific IP with timing
  hosts: myhosts
  become: true
  gather_facts: false
  tasks:
    - name: Record start time (allow IP)
      ansible.builtin.command: date +%s%N
      register: start_allow

    - name: Allow traffic from 111.111.111.111
      ansible.builtin.ufw:
        rule: allow
        from_ip: 111.111.111.111

    - name: Record end time (allow IP)
      ansible.builtin.command: date +%s%N
      register: end_allow

    - name: Print firewall rule execution time
      ansible.builtin.debug:
        msg: >
          firewall rule task time: {{
            ((end_allow.stdout | int) - (start_allow.stdout | int)) / 1000000
          }} ms
    
    - name: Record start time (allow IP)
      ansible.builtin.command: date +%s%N
      register: start_allow

    - name: Allow traffic from 111.111.111.111
      ansible.builtin.ufw:
        rule: allow
        from_ip: 111.111.111.111

    - name: Record end time (allow IP)
      ansible.builtin.command: date +%s%N
      register: end_allow

    - name: Print firewall rule execution time
      ansible.builtin.debug:
        msg: >
          firewall rule task time: {{
            ((end_allow.stdout | int) - (start_allow.stdout | int)) / 1000000
          }} ms

    - name: Record start time (allow IP)
      ansible.builtin.command: date +%s%N
      register: start_allow

    - name: Allow traffic from 111.111.111.111
      ansible.builtin.ufw:
        rule: allow
        from_ip: 111.111.111.111

    - name: Record end time (allow IP)
      ansible.builtin.command: date +%s%N
      register: end_allow

    - name: Print firewall rule execution time
      ansible.builtin.debug:
        msg: >
          firewall rule task time: {{
            ((end_allow.stdout | int) - (start_allow.stdout | int)) / 1000000
          }} ms

    - name: Record start time (allow IP)
      ansible.builtin.command: date +%s%N
      register: start_allow

    - name: Allow traffic from 111.111.111.111
      ansible.builtin.ufw:
        rule: allow
        from_ip: 111.111.111.111

    - name: Record end time (allow IP)
      ansible.builtin.command: date +%s%N
      register: end_allow

    - name: Print firewall rule execution time
      ansible.builtin.debug:
        msg: >
          firewall rule task time: {{
            ((end_allow.stdout | int) - (start_allow.stdout | int)) / 1000000
          }} ms

    - name: Record start time (allow IP)
      ansible.builtin.command: date +%s%N
      register: start_allow

    - name: Allow traffic from 111.111.111.111
      ansible.builtin.ufw:
        rule: allow
        from_ip: 111.111.111.111

    - name: Record end time (allow IP)
      ansible.builtin.command: date +%s%N
      register: end_allow

    - name: Print firewall rule execution time
      ansible.builtin.debug:
        msg: >
          firewall rule task time: {{
            ((end_allow.stdout | int) - (start_allow.stdout | int)) / 1000000
          }} ms